<?xml version="1.0"?>
<launch>

    <param name = "/iiwa1/toolName" type="string" value = "ElectricGripperY"/>
    <param name = "/iiwa2/toolName" type="string" value = "ElectricGripperY"/>

    <node name="publish_eye_in_hand" pkg="calibration" type="publish_eye_in_hand"/>
    <node name="empty_service" pkg="smach_tutorials" type="empty_service_node.py"/>
    
    <node name="gripper2_driver" pkg="gripper_controllers" type="gripper2_driver"/>

    <node name="task_manager" pkg="task_parser" type="task_parser_node" output="screen" />
    <node name="local_table_node" pkg="local_table" type="local_table_node" output="screen"/>

    <node name="iiwa2_manipulate_server_node" pkg="manipu_button" type="iiwa2_manipulate_server_node" output="screen" />
    <node name="simple_move_iiwa2" pkg="observe_move" type="simple_move_iiwa2" output="screen"/>

</launch>
