<?xml version="1.0"?>
<launch>
    <!--5. usb驱动+图像检测-->

    <!--开启usb驱动，需要确认1、2对应的是否为5、18号图像-->
    <include file="$(find usb_cam)/launch/usb_cam-test1.launch" />
    <include file="$(find usb_cam)/launch/usb_cam-test2.launch" />
    
    <!--开启图像检测节点-->
    <node name="halcon_detection_node" pkg="halcon_bridge" type="halcon_detection_node" output="screen"/>

</launch>
